*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: pink; }

.html-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }

.html__link:link, .html__link:visited {
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 3px;
  font-size: 2rem; }
  .html__link:link:not(:last-child), .html__link:visited:not(:last-child) {
    margin-bottom: 1rem; }
  .html__link:link-card, .html__link:visited-card {
    background-color: orangered;
    border-radius: 3px;
    color: white;
    position: relative; }
    .html__link:link-card::before, .html__link:visited-card::before {
      content: '1.';
      display: inline-block;
      position: absolute;
      color: #000;
      top: 50%;
      left: -20%;
      transform: translateY(-50%); }
  .html__link:link-btn, .html__link:visited-btn {
    border-radius: 3px;
    background-color: purple;
    color: white;
    position: relative; }
    .html__link:link-btn::before, .html__link:visited-btn::before {
      content: '2.';
      display: inline-block;
      position: absolute;
      color: #000;
      top: 50%;
      left: -20%;
      transform: translateY(-50%); }

.container-card {
  background-color: orangered;
  width: 80%;
  margin: 4rem auto; }

.card {
  /*
  Card dimensions
  background-color was for handling
  perspective makes it real
  position realive is for cards
  */
  height: 50rem;
  width: 30rem;
  background-color: green;
  perspective: 100rem;
  position: relative;
  /*
    hovering over the card element
  */ }
  .card__side {
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*
      transition is for animation effect
    */
    transition: all .7s ease; }
    .card__side--front {
      width: 100%;
      background-color: yellow; }
    .card__side--back {
      width: 100%;
      background-color: white;
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.container-btns {
  background-color: #777;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  /*
  Flash created to have a shiny effect
  */ }
  .btn:not(:last-child) {
    margin-bottom: 1rem; }
  .btn:focus {
    outline: none; }
  .btn-flash {
    color: #ccc;
    display: inline-block;
    background-color: #338033;
    border: 1px solid #338033;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: all .6s; }
    .btn-flash::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      /*
        making the element transparent
      */
      opacity: .4;
      filter: blur(2rem);
      transform: translateX(-13rem) skewX(-15deg);
      transition: all 1s; }
    .btn-flash::after {
      content: '';
      display: inline-block;
      /*
        position copy of button
      */
      position: absolute;
      top: 0;
      left: 3rem;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      /*
          the element visibility
      */
      transform: translateX(-10rem) skewX(-15deg);
      filter: blur(2rem);
      opacity: 0;
      transition: all 1s; }
    .btn-flash:hover {
      cursor: pointer; }
    .btn-flash:hover:before {
      transform: translateX(18rem) skewX(15deg);
      opacity: .6; }
    .btn-flash:hover:after {
      transform: translateX(8rem) skewX(15deg);
      opacity: .4; }
  .btn-circle {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    cursor: cell; }
  .btn-tri {
    height: 4rem;
    width: 5rem;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    background-color: purple;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: crosshair; }
    .btn-tri span {
      font-size: 1.2rem; }

::selection {
  background-color: orange;
  color: purple; }

.container-circle {
  max-width: 120rem;
  height: 50rem;
  background-color: white;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; }

.circle {
  backface-visibility: hidden;
  width: 20rem;
  height: 20rem;
  border: 3px solid #AFEFEF;
  border-radius: 50%;
  position: relative;
  animation: circle 8s infinite linear; }
  .circle__image-box-1 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 8%;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-2 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 80%;
    top: 8%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-3 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 76%;
    top: 78%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-4 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 4%;
    top: 74%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

@keyframes circle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.table {
  border-collapse: collapse;
  width: 80%;
  margin: 2rem auto;
  border: 1px solid #ddd; }
  .table__hr {
    background-color: orange; }
  .table__th {
    padding: 1.5rem; }
  .table__hr--sub {
    border: 1px solid #ddd;
    padding: 1.5rem; }
  .table__tr {
    text-align: center; }
  .table__tc--1, .table__tc--2, .table__tc--3 {
    border: 1px solid #ddd;
    padding: 1.5rem;
    position: relative; }
  .table__tc--1:nth-of-type(even), .table__tc--3:nth-of-type(even) {
    background-color: #aaa; }
  .table__tc--2:nth-of-type(odd) {
    background-color: #aaa; }
  .table__text-style {
    writing-mode: vertical-rl;
    text-orientation: mixed; }
  .table__link:visited, .table__link:link {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: white;
    font-size: 1.4rem; }

.carousel-container {
  border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 210px;
  height: 140px;
  margin: 80px auto;
  perspective: 1000px; }

.carousel {
  width: 100%;
  height: 100%;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s; }

.carousel__cell {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 0;
  top: 0;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s; }

/*
  after the ninth element it changes to back from 10 upwards
*/
.carousel__cell:nth-child(9n+1) {
  background: rgba(255, 0, 0, 0.8); }

.carousel__cell:nth-child(9n+2) {
  background: rgba(255, 170, 0, 0.8); }

.carousel__cell:nth-child(9n+3) {
  background: rgba(170, 255, 0, 0.8); }

.carousel__cell:nth-child(9n+4) {
  background: rgba(0, 255, 0, 0.8); }

.carousel__cell:nth-child(9n+5) {
  background: rgba(0, 255, 170, 0.8); }

.carousel__cell:nth-child(9n+6) {
  background: rgba(0, 170, 255, 0.8); }

.carousel__cell:nth-child(9n+7) {
  background: rgba(0, 0, 255, 0.8); }

.carousel__cell:nth-child(9n+8) {
  background: rgba(170, 0, 255, 0.8); }

.carousel__cell:nth-child(9n+0) {
  background: rgba(255, 0, 170, 0.8); }

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px); }

.carousel__cell:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px); }

.carousel__cell:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px); }

.carousel__cell:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px); }

.carousel__cell:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px); }

.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px); }

.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px); }

.carousel__cell:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px); }

.carousel__cell:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px); }

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.8); }

.cube-container {
  width: 20rem;
  height: 20rem;
  margin: 8rem auto;
  perspective: 400px; }

.cube {
  width: 20rem;
  height: 20rem;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s; }

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg); }

.cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg); }

.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg); }

.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg); }

.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg); }

.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg); }

.cube__face {
  position: absolute;
  width: 5em;
  height: 5em;
  border: 2px solid black;
  line-height: 5em;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: center; }

.cube__face--front {
  background: rgba(255, 0, 0, 0.7); }

.cube__face--right {
  background: rgba(255, 255, 0, 0.7); }

.cube__face--back {
  background: rgba(0, 255, 0, 0.7); }

.cube__face--left {
  background: rgba(0, 255, 255, 0.7); }

.cube__face--top {
  background: rgba(0, 0, 255, 0.7); }

.cube__face--bottom {
  background: rgba(255, 0, 255, 0.7); }

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px); }

.cube__face--right {
  transform: rotateY(90deg) translateZ(100px); }

.cube__face--back {
  transform: rotateY(180deg) translateZ(100px); }

.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px); }

.cube__face--top {
  transform: rotateX(90deg) translateZ(100px); }

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px); }

label {
  margin-right: 10px; }

.radio-group {
  text-align: center; }

.spinner-master * {
  transition: all 0.3s;
  box-sizing: border-box; }

.spinner-master {
  position: relative;
  margin: 50px auto;
  height: 50px;
  width: 50px; }

.spinner-master input[type=checkbox] {
  display: none; }

.spinner-master label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0; }

.spinner-master .spinner {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.spinner-master .diagonal.part-1 {
  position: relative;
  float: left; }

.spinner-master .horizontal {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {
  opacity: 0; }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
  transform: rotate(405deg); }

.spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
  transform: rotate(-405deg);
  margin-top: -16px; }

/*SECOND VERSION*/
.spinner-master2 * {
  transition: all 0.3s;
  box-sizing: border-box; }

.spinner-master2 {
  position: relative;
  margin: 50px auto;
  height: 50px;
  width: 50px; }

.spinner-master2 input[type=checkbox] {
  display: none; }

.spinner-master2 label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0; }

.spinner-master2 .spinner2 {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #eee;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.spinner-master2 .diagonal.part-1 {
  position: relative;
  float: left; }

.spinner-master2 .horizontal {
  position: relative;
  float: left;
  margin-top: 7px; }

.spinner-master2 .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .horizontal {
  opacity: 0; }

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-1 {
  transform: rotate(135deg);
  margin-top: 10px; }

.spinner-master2 input[type=checkbox]:checked ~ .spinner-spin2 > .diagonal.part-2 {
  transform: rotate(-135deg);
  margin-top: -16px; }

/*THIRD VERSION*/
.spinner-master3 * {
  transition: all 0.3s;
  box-sizing: border-box; }

.spinner-master3 {
  position: relative;
  margin: 50px auto;
  height: 50px;
  width: 50px; }

.spinner-master3 input[type=checkbox] {
  display: none; }

.spinner-master3 label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0; }

.spinner-master3 .spinner3 {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #777;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.spinner-master3 .diagonal.part-1 {
  position: relative;
  float: left; }

.spinner-master3 .horizontal {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master3 .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master3 input[type=checkbox]:checked ~ .spinner-spin3 > .horizontal {
  transform: scale(2, 1);
  opacity: 0; }

.spinner-master3 input[type=checkbox]:checked ~ .spinner-spin3 > .diagonal.part-1 {
  transform: rotate(-135deg);
  margin-top: 10px; }

.spinner-master3 input[type=checkbox]:checked ~ .spinner-spin3 > .diagonal.part-2 {
  transform: rotate(135deg);
  margin-top: -16px; }

/*FORTH VERSION*/
.spinner-master4 * {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  box-sizing: border-box; }

.spinner-master4 {
  position: relative;
  margin: 50px auto;
  height: 50px;
  width: 50px; }

.spinner-master4 input[type=checkbox] {
  display: none; }

.spinner-master4 label {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 10px;
  left: 0; }

.spinner-master4 .spinner4 {
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #333;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }

.spinner-master4 .diagonal.part-1 {
  position: relative;
  float: left; }

.spinner-master4 .horizontal {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master4 .diagonal.part-2 {
  position: relative;
  float: left;
  margin-top: 6px; }

.spinner-master4 input[type=checkbox]:checked ~ .spinner-spin4 > .horizontal {
  transform: translate(-100px, 0px);
  opacity: 0; }

.spinner-master4 input[type=checkbox]:checked ~ .spinner-spin4 > .diagonal.part-1 {
  transform: rotate(-135deg);
  margin-top: 10px; }

.spinner-master4 input[type=checkbox]:checked ~ .spinner-spin4 > .diagonal.part-2 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: -16px; }
