*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: pink; }

.html-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }

.html__link:link, .html__link:visited {
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 3px;
  font-size: 2rem; }
  .html__link:link:not(:last-child), .html__link:visited:not(:last-child) {
    margin-bottom: 1rem; }
  .html__link:link-card, .html__link:visited-card {
    background-color: orangered;
    border-radius: 3px;
    color: white;
    position: relative; }
    .html__link:link-card::before, .html__link:visited-card::before {
      content: '1.';
      display: inline-block;
      position: absolute;
      color: #000;
      top: 50%;
      left: -20%;
      transform: translateY(-50%); }
  .html__link:link-btn, .html__link:visited-btn {
    border-radius: 3px;
    background-color: purple;
    color: white;
    position: relative; }
    .html__link:link-btn::before, .html__link:visited-btn::before {
      content: '2.';
      display: inline-block;
      position: absolute;
      color: #000;
      top: 50%;
      left: -20%;
      transform: translateY(-50%); }

.container-card {
  background-color: orangered;
  width: 80%;
  margin: 4rem auto; }

.card {
  /*
  Card dimensions
  background-color was for handling
  perspective makes it real
  position realive is for cards
  */
  height: 50rem;
  width: 30rem;
  background-color: green;
  perspective: 100rem;
  position: relative;
  /*
    hovering over the card element
  */ }
  .card__side {
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    /*
      transition is for animation effect
    */
    transition: all .7s ease; }
    .card__side--front {
      width: 100%;
      background-color: yellow; }
    .card__side--back {
      width: 100%;
      background-color: white;
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.container-btns {
  background-color: #000;
  padding: 2rem;
  margin: 2rem;
  text-align: center; }

.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  /*
  Flash created to have a shiny effect
  */ }
  .btn-flash {
    color: #ccc;
    display: inline-block;
    background-color: #338033;
    border: 1px solid #338033;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: all .6s; }
    .btn-flash::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      /*
        making the element transparent
      */
      opacity: .4;
      filter: blur(2rem);
      transform: translateX(-13rem) skewX(-15deg);
      transition: all 1s; }
    .btn-flash::after {
      content: '';
      display: inline-block;
      /*
        position copy of button
      */
      position: absolute;
      top: 0;
      left: 3rem;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      /*
          the element visibility
      */
      transform: translateX(-10rem) skewX(-15deg);
      filter: blur(2rem);
      opacity: 0;
      transition: all 1s; }
    .btn-flash:hover {
      cursor: pointer; }
    .btn-flash:hover:before {
      transform: translateX(18rem) skewX(15deg);
      opacity: .6; }
    .btn-flash:hover:after {
      transform: translateX(8rem) skewX(15deg);
      opacity: .4; }

.container-circle {
  max-width: 120rem;
  height: 50rem;
  background-color: white;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; }

.circle {
  backface-visibility: hidden;
  width: 20rem;
  height: 20rem;
  border: 3px solid #AFEFEF;
  border-radius: 50%;
  position: relative;
  animation: circle 8s infinite linear; }
  .circle:hover ~ .circle__image-box-1 {
    margin-left: 10rem;
    display: none; }
  .circle__image-box-1 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 8%;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-2 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 80%;
    top: 8%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-3 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 76%;
    top: 78%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image-box-4 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: 4%;
    top: 74%;
    border-radius: 50%;
    overflow: hidden;
    animation: circle 16s infinite linear; }
  .circle__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

@keyframes circle {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
