
.container-btns{
  background-color: #777;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:  center;
}
.btn{
  border:none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  &:not(:last-child){
    margin-bottom: 1rem;
  }
  &:focus{
    outline: none;
  }

  /*
  Flash created to have a shiny effect
  */
  &-flash{
    color: #ccc;
    display: inline-block;
    background-color: #338033;
    border: 1px solid #338033;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: all .6s;
    &::before{
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(#fff, .5);
      /*
        making the element transparent
      */
      opacity: .4;
      filter: blur(2rem);// makes the background blur
      transform: translateX(-13rem) skewX(-15deg); // gets it out the screen
      transition: all 1s;
    }
    &::after{
      content: '';
      display: inline-block;
      /*
        position copy of button
      */
      position: absolute;
      top: 0;
      left: 3rem;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, .6);
      /*
          the element visibility
      */
      transform: translateX(-10rem) skewX(-15deg);
      filter: blur(2rem);
      opacity: 0;
      transition: all 1s;
    }


    &:hover{
      cursor: pointer;
    }
    &:hover:before{
      transform: translateX(18rem) skewX(15deg);
      opacity: .6;
    }
    &:hover:after{
      transform: translateX(8rem) skewX(15deg);
      opacity: .4;
    }
  }

  &-circle{
    border-radius: 50%;
    height : 4rem;
    width: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    cursor: cell;
    // border: 2px solid #000;
  }
  &-tri{
    height: 4rem;
    width:5rem;
    -webkit-clip-path: polygon(50% 0, 100% 50% , 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50% , 50% 100%, 0 50%);
    background-color: purple;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: crosshair;
    // keep in the text inside of the button
    span{
      font-size: 1.2rem;
    }
    // font-size: 1.4rem;
  }
}
::selection{
  background-color: orange;
  color: purple;
}
